<div
  class="min-h-screen flex justify-center items-center bg-transparent p-4 relative"
>
  <app-templates-canvas></app-templates-canvas>

  <div class="flex flex-row justify-center items-center w-full max-w-[1075px]">
    <!-- Contenedor izquierdo -->
    <div
      class="w-[950px] h-[700px] p-8 flex flex-col justify-center items-center bg-gray-800/60 backdrop-blur-sm rounded-lg shadow-lg border border-gray-700/30"
    >
      <!-- Mensaje de bienvenida -->
      <div class="mb-8 text-center p-4" *ngIf="!isRegistering">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 animate-rgb-smooth">
            ¡Bienvenido a CodePad!
        </h1>
        <p class="text-sm text-gray-400 opacity-80 mb-2">
            CON CODEPAD, ESCRIBE, ORGANIZA Y COMPARTE CÓDIGO FACILMENTE.
        </p>
        <p class="text-sm text-gray-400 opacity-80">
            INICIA SESIÓN PARA ACCEDER A TODAS LAS FUNCIONES.
        </p>
    </div>
        
      <div
        *ngIf="showLoader"
        class="absolute inset-0 flex items-center justify-center backdrop-blur-md bg-opacity-50 z-10"
      >
        <div id="loader">
          <div class="ls-particles ls-part-1"></div>
          <div class="ls-particles ls-part-2"></div>
          <div class="ls-particles ls-part-3"></div>
          <div class="ls-particles ls-part-4"></div>
          <div class="ls-particles ls-part-5"></div>
          <div class="lightsaber ls-left ls-green"></div>
          <div class="lightsaber ls-right ls-red"></div>
        </div>
      </div>

      <div
        *ngIf="isRegistering"
        class="transition-opacity duration-500 ease-in-out w-full max-w-4xl bg-gray-800/60 backdrop-blur-sm rounded-lg shadow-lg border border-gray-700/30 p-6"
      >
        <button
          (click)="isRegistering = false"
          class="absolute top-4 right-4 text-gray-400 hover:text-white transition-colors"
        >
          <fa-icon [icon]="['fas', 'times']" size="lg"></fa-icon>
        </button>
        <h1 class="text-2xl font-bold text-white text-center mb-6">Crear cuenta nueva</h1>
<div class="flex mb-6 rounded-lg overflow-hidden">
  <button
    class="w-1/2 py-2.5 text-sm font-medium transition-all duration-300 focus:outline-none"
    [ngClass]="{
      'bg-blue-600 text-white': activeForm === 'main',
      'bg-gray-700 text-gray-300 hover:bg-gray-600': activeForm !== 'main'
    }"
    (click)="cambiarFormulario('main')"
  >
    Datos principales
  </button>
  <button
    class="w-1/2 py-2.5 text-sm font-medium transition-all duration-300 focus:outline-none"
    [ngClass]="{
      'bg-gray-700 text-gray-300': activeForm === 'additional',
      'bg-gray-700 text-gray-300 hover:bg-gray-600': activeForm !== 'additional'
    }"
    (click)="cambiarFormulario('additional')"
  >
    Información Adicional
  </button>
</div>
        <div class="flex bg-gray-800/50 rounded-b-lg">
          <div
            class="w-1/2 p-6 transition-all duration-300"
            [ngClass]="{
              'opacity-100 blur-none': activeForm === 'main',
              'opacity-50 blur-sm': activeForm !== 'main'
            }"
          >
          <form [formGroup]="registroForm" class="space-y-4">
              <div>
                <label for="username" class="block mb-1 text-gray-300"
                  >Nombre de usuario</label
                >
                <input
                  id="username"
                  type="text"
                  formControlName="username"
                  class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                  placeholder="Ingrese su nombre de usuario"
                />
                <div
                  *ngIf="
                    registroForm.get('username')?.invalid &&
                    (registroForm.get('username')?.dirty ||
                      registroForm.get('username')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Nombre de usuario es requerido y debe tener al menos 4
                  caracteres
                </div>
              </div>

              <div>
                <label for="correo" class="block mb-1 text-gray-300"
                  >Correo electrónico</label
                >
                <input
                  id="correo"
                  type="email"
                  formControlName="correo"
                  class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                  placeholder="Ingrese su correo electrónico"
                />
                <div
                  *ngIf="
                    registroForm.get('correo')?.invalid &&
                    (registroForm.get('correo')?.dirty ||
                      registroForm.get('correo')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Ingrese un correo electrónico válido
                </div>
              </div>

              <div>
                <label for="password" class="block mb-1 text-gray-300"
                  >Contraseña</label
                >
                <div class="relative">
                  <input
                    id="password"
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md pr-10 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="Ingrese su contraseña"
                  />
                  <button
                    type="button"
                    class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-white"
                    (click)="AlternarVisibilidadPassword()"
                  >
                    <fa-icon
                      [icon]="
                        showPassword ? ['fas', 'eye-slash'] : ['fas', 'eye']
                      "
                    ></fa-icon>
                  </button>
                </div>
                <div
                  *ngIf="
                    registroForm.get('password')?.invalid &&
                    (registroForm.get('password')?.dirty ||
                      registroForm.get('password')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  La contraseña es requerida y debe tener al menos 6 caracteres
                </div>
              </div>

              <div>
                <label for="confirm-password" class="block mb-1 text-gray-300">Confirmar contraseña</label>
                <div class="relative">
                  <input
                    id="confirm-password"
                    [type]="showConfirmPasswordReg ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md pr-10 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="Confirme su contraseña"
                  />
                  <button
                    type="button"
                    (click)="AlternarVisibilidadCreacionPassword()"
                    class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-white"
                  >
                    <fa-icon
                      [icon]="showConfirmPasswordReg ? ['fas', 'eye-slash'] : ['fas', 'eye']"
                    ></fa-icon>
                  </button>
                </div>
                <div
                  *ngIf="
                    registroForm.get('confirmPassword')?.invalid &&
                    (registroForm.get('confirmPassword')?.dirty ||
                     registroForm.get('confirmPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  <span *ngIf="registroForm.hasError('passwordMismatch')">Las contraseñas no coinciden</span>
                  <span *ngIf="registroForm.get('confirmPassword')?.errors?.['required']">La confirmación de contraseña es requerida</span>
                </div>
                <div
                  *ngIf="
                    registroForm.get('confirmPassword')?.invalid &&
                    (registroForm.get('confirmPassword')?.dirty ||
                      registroForm.get('confirmPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Su contraseña no coincide
                </div>
              </div>
            </form>
          </div>

          <div
            class="w-1/2 p-6 transition-all duration-300"
            [ngClass]="{
              'opacity-100 blur-none': activeForm === 'additional',
              'opacity-50 blur-sm': activeForm !== 'additional'
            }"
          >
            <form [formGroup]="registroForm" class="space-y-4">
              <div>
                <label for="nombres" class="block mb-1 text-gray-300"
                  >Nombres</label
                >
                <input
                  id="nombres"
                  type="text"
                  formControlName="nombres"
                  class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                  placeholder="Ingrese sus nombres"
                />
                <div
                  *ngIf="
                    registroForm.get('nombres')?.invalid &&
                    (registroForm.get('nombres')?.dirty ||
                      registroForm.get('nombres')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Nombres es requerido
                </div>
              </div>

              <div>
                <label for="apellido-paterno" class="block mb-1 text-gray-300"
                  >Apellido paterno</label
                >
                <input
                  id="apellido-paterno"
                  type="text"
                  formControlName="apellidoPaterno"
                  class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                  placeholder="Ingrese su apellido paterno"
                />
                <div
                  *ngIf="
                    registroForm.get('apellidoPaterno')?.invalid &&
                    (registroForm.get('apellidoPaterno')?.dirty ||
                      registroForm.get('apellidoPaterno')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Apellido paterno es requerido
                </div>
              </div>

              <div>
                <label for="apellido-materno" class="block mb-1 text-gray-300"
                  >Apellido materno</label
                >
                <input
                  id="apellido-materno"
                  type="text"
                  formControlName="apellidoMaterno"
                  class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                  placeholder="Ingrese su apellido materno"
                />
                <div
                  *ngIf="
                    registroForm.get('apellidoMaterno')?.invalid &&
                    (registroForm.get('apellidoMaterno')?.dirty ||
                      registroForm.get('apellidoMaterno')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Apellido materno es requerido
                </div>
              </div>

              <div>
                <label for="pista-password" class="block mb-1 text-gray-300"
                  >Pista de la contraseña</label
                >
                <input
                  id="pista-password"
                  type="text"
                  formControlName="pistaPassword"
                  class="w-full bg-gray-700/50 text-white px-4 py-2 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                  placeholder="Ingrese una pista para su contraseña"
                />
                <div
                  *ngIf="
                    registroForm.get('pistaPassword')?.invalid &&
                    (registroForm.get('pistaPassword')?.dirty ||
                      registroForm.get('pistaPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Pista de la contraseña es requerida
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="mt-6 text-center">
          <button
            (click)="crearUsuario()"
            class="w-full max-w-md bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300"
          >
            Registrarse
          </button>
        </div>
      </div>

      <div class="contenedor-informacion bg-gradient-to-br from-gray-900 to-gray-800 p-6 rounded-xl shadow-2xl">
        <ng-container *ngIf="InfoSistema && InfoSistema.length > 0">
          <ng-container *ngTemplateOutlet="infoTemplate"></ng-container>
        </ng-container>
      </div>
      
      <ng-template #infoTemplate>
        <div *ngIf="!isRegistering" class="flex-grow w-full max-w-md mt-0">
          <div class="flex items-center justify-start mb-6">
            <fa-icon
              [icon]="InfoSistema[currentInfoIndex].icon"
              class="text-blue-400 text-3xl mr-4"
            ></fa-icon>
            <h2 class="text-2xl font-bold text-blue-400 m-0 leading-none">
              {{ InfoSistema[currentInfoIndex].title }}
            </h2>
          </div>
          <ul class="space-y-4 bg-gray-800 bg-opacity-80 backdrop-blur-md p-6 rounded-lg shadow-lg border border-blue-500 border-opacity-30">
            <li *ngFor="let item of InfoSistema[currentInfoIndex].items" class="flex items-start transition-all duration-300 hover:translate-x-2">
              <fa-icon [icon]="item.icon" class="text-blue-400 text-xl mr-3 mt-1"></fa-icon>
              <span class="text-gray-200 text-lg leading-relaxed">{{ item.text }}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Contenedor derecho -->
  <div
    class="w-[500px] h-[700px] bg-gray-800/60 backdrop-blur-sm p-8 flex flex-col justify-center items-center rounded-lg shadow-lg border border-gray-700/30"
  >
    <div class="mb-8">
      <!-- Imagen del logo -->
      <img
        src="assets/logo-completo.png"
        alt="CodePad Logo"
        class="w-48 h-auto"
      />
    </div>
    <div class="space-y-4 w-full max-w-sm">
      <div class="relative">
        <fa-icon
          [icon]="['fas', 'user']"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-blue-400"
        ></fa-icon>
        <input
          class="w-full bg-gradient-to-r from-gray-800/60 to-gray-700/60 text-white pl-10 pr-4 py-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
          [(ngModel)]="username"
          name="username"
          type="text"
          placeholder="Nombre de Usuario"
        />
      </div>
      <div class="relative">
        <fa-icon
          [icon]="['fas', 'lock']"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-blue-400"
        ></fa-icon>
        <input
          class="w-full bg-gradient-to-r from-gray-800/60 to-gray-700/60 text-white pl-10 pr-10 py-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
          [(ngModel)]="password"
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
        />
        <button
          type="button"
          (click)="AlternarVisibilidadPassword()"
          class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-white"
        >
          <fa-icon
            [icon]="showPassword ? ['fas', 'eye-slash'] : ['fas', 'eye']"
          ></fa-icon>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()">
        <button
          type="submit"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-md flex items-center justify-center transition-colors duration-300"
        >
          <span>Iniciar Sesión</span>
          <fa-icon [icon]="['fas', 'chevron-right']" class="ml-2"></fa-icon>
        </button>
      </form>
      <button
        (click)="crearUsuarioVisibilidad()"
        class="w-full bg-green-600 hover:bg-green-700 text-white py-3 rounded-md flex items-center justify-center transition-colors duration-300"
      >
        <span>Crear Usuario</span>
        <fa-icon [icon]="['fas', 'plus']" class="ml-2"></fa-icon>
      </button>
    </div>
  </div>
</div>
